{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}game facts{% endblock %}

{% block content %}
<h1>Game Facts</h1>
<p>On this page you will be able to select any game from 2004 to 2010 and a bunch of info on that game will show up.</p>
	<form action="/showGameFact">
          <select name="game"> 
            {{ game_options }}
          </select>
		  <br><br>
          <input type="submit" value="Show the game info">
        </form>
        <div id="gameFacts">
            <p>{{ gameFacts }}</p>
        </div>
{% endblock %}
