{% extends "layout.html" %}

{% set active_page = "page4" %}

{% block title %}game publishers{% endblock %}

{% block content %}
    <!--page content-->
    <h1>game publishers</h1>
	<p>On this page you can select a publisher and see all the games they published</p>
	<form action="/page4">
          <select name="publisher"> 
            {{ publisher_options }}
          </select>
		  <br><br>
          <input type="submit" value="Show the publisher info">
        </form>
        <div id="consoleFacts">
			{% for games in publisherFacts %}
				<p>{{ games }}</p>
			{% endfor %}
        </div>
{% endblock %}
